<a href="https://colab.research.google.com/github/AngelGuevaraR/PruebaSpark/blob/main/PracticaSpark_GuevaraRam%C3%ADrezAngelAlberto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instalacion de Spark

In [ ]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz

Se tiene que descargar y añadir spark a los archivos

In [ ]:
!tar xf spark-3.5.0-bin-hadoop3.tgz

In [ ]:
ls

sample_data/  spark-3.5.0-bin-hadoop3/  spark-3.5.0-bin-hadoop3.tgz

In [ ]:
!pip install -q findspark

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import findspark

In [ ]:
findspark.find()

'/usr/local/lib/python3.11/dist-packages/pyspark'

In [ ]:
import os

In [ ]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"

In [ ]:
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
from pyspark import SparkContext

In [ ]:
spark = SparkSession.builder.appName("SesionPrueba").master("local").getOrCreate()

In [ ]:
spark

Practica Guiada: Analisis de datos con Apache Spark

In [ ]:
# Ruta de acceso del archivo NivelesContaminacion_O3 a path_o
path_o = "/content/sample_data/NivelesContaminacion_o3.csv"

In [ ]:
# Ruta de acceso del archivo NivelesContaminacion_pm25 a path_pm
path_pm = "/content/sample_data/NivelesContaminacion_pm25.csv"

In [ ]:
# Lectura de contenido del archivo Nivelescontaminacion_o3 a path_o
data_o_spark = spark.read.csv(path_o, header=True, inferSchema=True)

In [ ]:
# Lectura de contenido del archivo Nivelescontaminacion_pm25 a path_pm
data_pm_spark = spark.read.csv(path_pm, header=True, inferSchema=True)

In [ ]:
# Muestra de contenido del dataset data_o_spark mostrando unicamente las primeras 20 filas con el metodo show
data_o_spark.show()

+----------+-------+------------+------+-----+---------+---------+------------+
|      Date|Country|        City|Specie|count|min (ppb)|max (ppb)|median (ppb)|
+----------+-------+------------+------+-----+---------+---------+------------+
|2017-01-01|     US| Los Angeles|    o3|   24|      2.0|     31.0|        10.0|
|2017-01-01|     CN|    Shanghai|    o3|  188|      1.0|     39.0|        11.0|
|2017-01-01|     US|   Manhattan|    o3|   24|      3.0|     28.0|        16.0|
|2017-01-01|     US|Jacksonville|    o3|   46|      2.0|     18.0|        12.0|
|2017-01-01|     CN|     Beijing|    o3|  235|      1.0|      8.0|         2.0|
|2017-01-01|     US|     Houston|    o3|  119|      1.0|     30.0|        11.0|
|2017-01-02|     US|   Manhattan|    o3|   23|      8.0|     19.0|        11.0|
|2017-01-02|     CN|     Beijing|    o3|  385|      1.0|     30.0|         7.0|
|2017-01-02|     US| Los Angeles|    o3|   24|      1.0|     34.0|        12.0|
|2017-01-02|     CN|    Shanghai|    o3|  207|      1.0|     41.0|         9.0|
|2017-01-02|     US|Jacksonville|    o3|   48|      4.0|     15.0|        11.0|
|2017-01-02|     CN|       Wuhan|    o3|  271|      0.0|     56.0|        14.0|
|2017-01-02|     US|     Houston|    o3|  113|      1.0|     35.0|        16.0|
|2017-01-03|     US|     Houston|    o3|   89|      1.0|     36.0|        16.0|
|2017-01-03|     CN|       Wuhan|    o3|  387|      0.0|     50.0|         8.0|
|2017-01-03|     US| Los Angeles|    o3|   16|      1.0|     18.0|         1.0|
|2017-01-03|     CN|    Shanghai|    o3|  201|      3.0|     46.0|        27.0|
|2017-01-03|     US|   Manhattan|    o3|   23|      9.0|     23.0|        19.0|
|2017-01-03|     US|Jacksonville|    o3|   45|      2.0|     11.0|         6.0|
|2017-01-03|     CN|     Beijing|    o3|  329|      1.0|     24.0|         3.0|
+----------+-------+------------+------+-----+---------+---------+------------+
only showing top 20 rows

In [ ]:
# Muestra de contenido del dataset data_pm_spark mostrando unicamente las primeras 20 filas con el metodo show
data_pm_spark.show()

+----------+-------+------------+------+-----+-----------+-----------------+--------------+
|      Date|Country|        City|Specie|count|min (ug/m3)|      max (ug/m3)|median (ug/m3)|
+----------+-------+------------+------+-----+-----------+-----------------+--------------+
|2017-01-01|     IN|   New Delhi|  pm25|   24|       54.9|            282.7|         177.7|
|2017-01-01|     CN|    Shanghai|  pm25|  215|       12.0|             63.2|          34.4|
|2017-01-01|     US|Jacksonville|  pm25|  115|        3.1|            113.6|           8.1|
|2017-01-01|     US| Los Angeles|  pm25|   69|        3.3|            109.7|          15.9|
|2017-01-01|     US|   Manhattan|  pm25|   96|        4.3|             23.0|          12.1|
|2017-01-01|     CN|     Beijing|  pm25|  386|      214.0|663.8920904977376|         453.4|
|2017-01-01|     US|     Houston|  pm25|   95|        4.8|             92.2|          14.9|
|2017-01-02|     CN|     Beijing|  pm25|  456|        3.1|529.1259547511313|         241.3|
|2017-01-02|     US|     Houston|  pm25|   93|        0.2|             14.9|           6.7|
|2017-01-02|     CN|    Shanghai|  pm25|  216|       26.8|            125.2|          63.2|
|2017-01-02|     IN|   New Delhi|  pm25|   24|       54.9|            309.0|         173.7|
|2017-01-02|     US|Jacksonville|  pm25|  111|        1.2|             14.9|           5.0|
|2017-01-02|     US|   Manhattan|  pm25|   96|        4.8|             23.0|          12.0|
|2017-01-02|     US| Los Angeles|  pm25|   70|        0.4|             35.4|           7.2|
|2017-01-02|     CN|       Wuhan|  pm25|  272|       35.9|            182.7|         115.5|
|2017-01-03|     IN|   New Delhi|  pm25|   24|      113.6|            451.9|         175.7|
|2017-01-03|     CN|    Shanghai|  pm25|  214|       55.5|            176.7|          88.4|
|2017-01-03|     CN|       Wuhan|  pm25|  405|      109.7|            241.3|         146.5|
|2017-01-03|     US|     Houston|  pm25|   84|        0.2|             12.1|           6.0|
|2017-01-03|     CN|     Beijing|  pm25|  445|      136.8|642.6929230769232|         332.2|
+----------+-------+------------+------+-----+-----------+-----------------+--------------+
only showing top 20 rows

In [ ]:
# Muestra de columnas definidas unicamente del dataset data_o_spark con el metodo columns
data_o_spark.columns

['Date',
 'Country',
 'City',
 'Specie',
 'count',
 'min (ppb)',
 'max (ppb)',
 'median (ppb)']

In [ ]:
# Muestra de columnas definidas unicamente del dataset data_pm_spark con el metodo columns
data_pm_spark.columns

['Date',
 'Country',
 'City',
 'Specie',
 'count',
 'min (ug/m3)',
 'max (ug/m3)',
 'median (ug/m3)']

In [ ]:
# Eliminacion de las columnas 'min (ppb)', 'max (ppb)', 'median (ppb)' del dataset data_o_spark y se asigna al mismo dataset
data_o_spark = data_o_spark.drop('min (ppb)', 'max (ppb)', 'median (ppb)')

In [ ]:
data_o_spark.show()

+----------+-------+------------+------+-----+
|      Date|Country|        City|Specie|count|
+----------+-------+------------+------+-----+
|2017-01-01|     US| Los Angeles|    o3|   24|
|2017-01-01|     CN|    Shanghai|    o3|  188|
|2017-01-01|     US|   Manhattan|    o3|   24|
|2017-01-01|     US|Jacksonville|    o3|   46|
|2017-01-01|     CN|     Beijing|    o3|  235|
|2017-01-01|     US|     Houston|    o3|  119|
|2017-01-02|     US|   Manhattan|    o3|   23|
|2017-01-02|     CN|     Beijing|    o3|  385|
|2017-01-02|     US| Los Angeles|    o3|   24|
|2017-01-02|     CN|    Shanghai|    o3|  207|
|2017-01-02|     US|Jacksonville|    o3|   48|
|2017-01-02|     CN|       Wuhan|    o3|  271|
|2017-01-02|     US|     Houston|    o3|  113|
|2017-01-03|     US|     Houston|    o3|   89|
|2017-01-03|     CN|       Wuhan|    o3|  387|
|2017-01-03|     US| Los Angeles|    o3|   16|
|2017-01-03|     CN|    Shanghai|    o3|  201|
|2017-01-03|     US|   Manhattan|    o3|   23|
|2017-01-03|     US|Jacksonville|    o3|   45|
|2017-01-03|     CN|     Beijing|    o3|  329|
+----------+-------+------------+------+-----+
only showing top 20 rows

In [ ]:
# Se eliminan las columnas 'min (ug/m3)', 'max (ug/m3)', 'median (ug/m3)' del dataset data_pm_spark y se asigna la modificacion del mismo data
data_pm_spark = data_pm_spark.drop('min (ug/m3)', 'max (ug/m3)', 'median (ug/m3)')

In [ ]:
data_pm_spark.show()

+----------+-------+------------+------+-----+
|      Date|Country|        City|Specie|count|
+----------+-------+------------+------+-----+
|2017-01-01|     IN|   New Delhi|  pm25|   24|
|2017-01-01|     CN|    Shanghai|  pm25|  215|
|2017-01-01|     US|Jacksonville|  pm25|  115|
|2017-01-01|     US| Los Angeles|  pm25|   69|
|2017-01-01|     US|   Manhattan|  pm25|   96|
|2017-01-01|     CN|     Beijing|  pm25|  386|
|2017-01-01|     US|     Houston|  pm25|   95|
|2017-01-02|     CN|     Beijing|  pm25|  456|
|2017-01-02|     US|     Houston|  pm25|   93|
|2017-01-02|     CN|    Shanghai|  pm25|  216|
|2017-01-02|     IN|   New Delhi|  pm25|   24|
|2017-01-02|     US|Jacksonville|  pm25|  111|
|2017-01-02|     US|   Manhattan|  pm25|   96|
|2017-01-02|     US| Los Angeles|  pm25|   70|
|2017-01-02|     CN|       Wuhan|  pm25|  272|
|2017-01-03|     IN|   New Delhi|  pm25|   24|
|2017-01-03|     CN|    Shanghai|  pm25|  214|
|2017-01-03|     CN|       Wuhan|  pm25|  405|
|2017-01-03|     US|     Houston|  pm25|   84|
|2017-01-03|     CN|     Beijing|  pm25|  445|
+----------+-------+------------+------+-----+
only showing top 20 rows

In [ ]:
# Renombracion de columna count por count-03 del dataset data_o_spark
data_o_spark = data_o_spark.withColumnRenamed('count', 'count_o3')

In [ ]:
data_o_spark.show()

+----------+-------+------------+------+--------+
|      Date|Country|        City|Specie|count_o3|
+----------+-------+------------+------+--------+
|2017-01-01|     US| Los Angeles|    o3|      24|
|2017-01-01|     CN|    Shanghai|    o3|     188|
|2017-01-01|     US|   Manhattan|    o3|      24|
|2017-01-01|     US|Jacksonville|    o3|      46|
|2017-01-01|     CN|     Beijing|    o3|     235|
|2017-01-01|     US|     Houston|    o3|     119|
|2017-01-02|     US|   Manhattan|    o3|      23|
|2017-01-02|     CN|     Beijing|    o3|     385|
|2017-01-02|     US| Los Angeles|    o3|      24|
|2017-01-02|     CN|    Shanghai|    o3|     207|
|2017-01-02|     US|Jacksonville|    o3|      48|
|2017-01-02|     CN|       Wuhan|    o3|     271|
|2017-01-02|     US|     Houston|    o3|     113|
|2017-01-03|     US|     Houston|    o3|      89|
|2017-01-03|     CN|       Wuhan|    o3|     387|
|2017-01-03|     US| Los Angeles|    o3|      16|
|2017-01-03|     CN|    Shanghai|    o3|     201|
|2017-01-03|     US|   Manhattan|    o3|      23|
|2017-01-03|     US|Jacksonville|    o3|      45|
|2017-01-03|     CN|     Beijing|    o3|     329|
+----------+-------+------------+------+--------+
only showing top 20 rows

In [ ]:
# Renombracion de columna count por count_pm25 del dataset data_pm
data_pm_spark = data_pm_spark.withColumnRenamed('count', 'count_pm25')

In [ ]:
data_pm_spark.show()

+----------+-------+------------+------+----------+
|      Date|Country|        City|Specie|count_pm25|
+----------+-------+------------+------+----------+
|2017-01-01|     IN|   New Delhi|  pm25|        24|
|2017-01-01|     CN|    Shanghai|  pm25|       215|
|2017-01-01|     US|Jacksonville|  pm25|       115|
|2017-01-01|     US| Los Angeles|  pm25|        69|
|2017-01-01|     US|   Manhattan|  pm25|        96|
|2017-01-01|     CN|     Beijing|  pm25|       386|
|2017-01-01|     US|     Houston|  pm25|        95|
|2017-01-02|     CN|     Beijing|  pm25|       456|
|2017-01-02|     US|     Houston|  pm25|        93|
|2017-01-02|     CN|    Shanghai|  pm25|       216|
|2017-01-02|     IN|   New Delhi|  pm25|        24|
|2017-01-02|     US|Jacksonville|  pm25|       111|
|2017-01-02|     US|   Manhattan|  pm25|        96|
|2017-01-02|     US| Los Angeles|  pm25|        70|
|2017-01-02|     CN|       Wuhan|  pm25|       272|
|2017-01-03|     IN|   New Delhi|  pm25|        24|
|2017-01-03|     CN|    Shanghai|  pm25|       214|
|2017-01-03|     CN|       Wuhan|  pm25|       405|
|2017-01-03|     US|     Houston|  pm25|        84|
|2017-01-03|     CN|     Beijing|  pm25|       445|
+----------+-------+------------+------+----------+
only showing top 20 rows

In [ ]:
# Definicion del esquema de las columnas(Tipos de datos)
data_pm_spark.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Specie: string (nullable = true)
 |-- count_pm25: integer (nullable = true)

In [ ]:
# Se muestran los datos de las columnas Date y count_pm25 del dataset data_pm_spark utilizando la instruccion SQL "select", ai como tambien "Show"
data_pm_spark.select(data_pm_spark['Date'], data_pm_spark['count_pm25']).show(truncate=False)

+----------+----------+
|Date      |count_pm25|
+----------+----------+
|2017-01-01|24        |
|2017-01-01|215       |
|2017-01-01|115       |
|2017-01-01|69        |
|2017-01-01|96        |
|2017-01-01|386       |
|2017-01-01|95        |
|2017-01-02|456       |
|2017-01-02|93        |
|2017-01-02|216       |
|2017-01-02|24        |
|2017-01-02|111       |
|2017-01-02|96        |
|2017-01-02|70        |
|2017-01-02|272       |
|2017-01-03|24        |
|2017-01-03|214       |
|2017-01-03|405       |
|2017-01-03|84        |
|2017-01-03|445       |
+----------+----------+
only showing top 20 rows

SQL en Spark

In [ ]:
# Para unir dos dataset se utiliza inner join, donde la combinacion de datos sera a traves del campo date (donde existan coincidencias)
data_o_spark.join(data_pm_spark, data_o_spark['Date']==data_pm_spark['Date'], 'inner').show(truncate = False)

+----------+-------+------------+------+--------+----------+-------+------------+------+----------+
|Date      |Country|City        |Specie|count_o3|Date      |Country|City        |Specie|count_pm25|
+----------+-------+------------+------+--------+----------+-------+------------+------+----------+
|2017-01-01|US     |Houston     |o3    |119     |2017-01-01|IN     |New Delhi   |pm25  |24        |
|2017-01-01|CN     |Beijing     |o3    |235     |2017-01-01|IN     |New Delhi   |pm25  |24        |
|2017-01-01|US     |Jacksonville|o3    |46      |2017-01-01|IN     |New Delhi   |pm25  |24        |
|2017-01-01|US     |Manhattan   |o3    |24      |2017-01-01|IN     |New Delhi   |pm25  |24        |
|2017-01-01|CN     |Shanghai    |o3    |188     |2017-01-01|IN     |New Delhi   |pm25  |24        |
|2017-01-01|US     |Los Angeles |o3    |24      |2017-01-01|IN     |New Delhi   |pm25  |24        |
|2017-01-01|US     |Houston     |o3    |119     |2017-01-01|CN     |Shanghai    |pm25  |215       |
|2017-01-01|CN     |Beijing     |o3    |235     |2017-01-01|CN     |Shanghai    |pm25  |215       |
|2017-01-01|US     |Jacksonville|o3    |46      |2017-01-01|CN     |Shanghai    |pm25  |215       |
|2017-01-01|US     |Manhattan   |o3    |24      |2017-01-01|CN     |Shanghai    |pm25  |215       |
|2017-01-01|CN     |Shanghai    |o3    |188     |2017-01-01|CN     |Shanghai    |pm25  |215       |
|2017-01-01|US     |Los Angeles |o3    |24      |2017-01-01|CN     |Shanghai    |pm25  |215       |
|2017-01-01|US     |Houston     |o3    |119     |2017-01-01|US     |Jacksonville|pm25  |115       |
|2017-01-01|CN     |Beijing     |o3    |235     |2017-01-01|US     |Jacksonville|pm25  |115       |
|2017-01-01|US     |Jacksonville|o3    |46      |2017-01-01|US     |Jacksonville|pm25  |115       |
|2017-01-01|US     |Manhattan   |o3    |24      |2017-01-01|US     |Jacksonville|pm25  |115       |
|2017-01-01|CN     |Shanghai    |o3    |188     |2017-01-01|US     |Jacksonville|pm25  |115       |
|2017-01-01|US     |Los Angeles |o3    |24      |2017-01-01|US     |Jacksonville|pm25  |115       |
|2017-01-01|US     |Houston     |o3    |119     |2017-01-01|US     |Los Angeles |pm25  |69        |
|2017-01-01|CN     |Beijing     |o3    |235     |2017-01-01|US     |Los Angeles |pm25  |69        |
+----------+-------+------------+------+--------+----------+-------+------------+------+----------+
only showing top 20 rows

In [ ]:
# La consulta anterior se almacenra en un nuevo dataset
# No debe incluirse show en este nuevo dataset al añadirlo
data_o_pm_spark = data_o_spark.join(data_pm_spark, data_o_spark['Date']==data_pm_spark['Date'], 'inner')

In [ ]:
# Muestra del contenido del nuevo dataset
data_o_pm_spark.show()

+----------+-------+------------+------+--------+----------+-------+------------+------+----------+
|      Date|Country|        City|Specie|count_o3|      Date|Country|        City|Specie|count_pm25|
+----------+-------+------------+------+--------+----------+-------+------------+------+----------+
|2017-01-01|     US|     Houston|    o3|     119|2017-01-01|     IN|   New Delhi|  pm25|        24|
|2017-01-01|     CN|     Beijing|    o3|     235|2017-01-01|     IN|   New Delhi|  pm25|        24|
|2017-01-01|     US|Jacksonville|    o3|      46|2017-01-01|     IN|   New Delhi|  pm25|        24|
|2017-01-01|     US|   Manhattan|    o3|      24|2017-01-01|     IN|   New Delhi|  pm25|        24|
|2017-01-01|     CN|    Shanghai|    o3|     188|2017-01-01|     IN|   New Delhi|  pm25|        24|
|2017-01-01|     US| Los Angeles|    o3|      24|2017-01-01|     IN|   New Delhi|  pm25|        24|
|2017-01-01|     US|     Houston|    o3|     119|2017-01-01|     CN|    Shanghai|  pm25|       215|
|2017-01-01|     CN|     Beijing|    o3|     235|2017-01-01|     CN|    Shanghai|  pm25|       215|
|2017-01-01|     US|Jacksonville|    o3|      46|2017-01-01|     CN|    Shanghai|  pm25|       215|
|2017-01-01|     US|   Manhattan|    o3|      24|2017-01-01|     CN|    Shanghai|  pm25|       215|
|2017-01-01|     CN|    Shanghai|    o3|     188|2017-01-01|     CN|    Shanghai|  pm25|       215|
|2017-01-01|     US| Los Angeles|    o3|      24|2017-01-01|     CN|    Shanghai|  pm25|       215|
|2017-01-01|     US|     Houston|    o3|     119|2017-01-01|     US|Jacksonville|  pm25|       115|
|2017-01-01|     CN|     Beijing|    o3|     235|2017-01-01|     US|Jacksonville|  pm25|       115|
|2017-01-01|     US|Jacksonville|    o3|      46|2017-01-01|     US|Jacksonville|  pm25|       115|
|2017-01-01|     US|   Manhattan|    o3|      24|2017-01-01|     US|Jacksonville|  pm25|       115|
|2017-01-01|     CN|    Shanghai|    o3|     188|2017-01-01|     US|Jacksonville|  pm25|       115|
|2017-01-01|     US| Los Angeles|    o3|      24|2017-01-01|     US|Jacksonville|  pm25|       115|
|2017-01-01|     US|     Houston|    o3|     119|2017-01-01|     US| Los Angeles|  pm25|        69|
|2017-01-01|     CN|     Beijing|    o3|     235|2017-01-01|     US| Los Angeles|  pm25|        69|
+----------+-------+------------+------+--------+----------+-------+------------+------+----------+
only showing top 20 rows

In [ ]:
# Creacion de tablas virtuales para trabajar SQL con estos datasets
data_pm_spark.createOrReplaceTempView('Table_pm')

In [ ]:
data_o_spark.createOrReplaceTempView('Table_o')

In [ ]:
# Se realiza la consulta pasando como campos para las coincidencias
spark.sql(
    "select * from Table_pm \
    INNER JOIN Table_o on Table_pm.Date = Table_o.Date \
    and Table_pm.City == Table_o.City \
    and Table_pm.Country == Table_o.Country"
).show()

+----------+-------+------------+------+----------+----------+-------+------------+------+--------+
|      Date|Country|        City|Specie|count_pm25|      Date|Country|        City|Specie|count_o3|
+----------+-------+------------+------+----------+----------+-------+------------+------+--------+
|2017-01-01|     CN|    Shanghai|  pm25|       215|2017-01-01|     CN|    Shanghai|    o3|     188|
|2017-01-01|     US|Jacksonville|  pm25|       115|2017-01-01|     US|Jacksonville|    o3|      46|
|2017-01-01|     US| Los Angeles|  pm25|        69|2017-01-01|     US| Los Angeles|    o3|      24|
|2017-01-01|     US|   Manhattan|  pm25|        96|2017-01-01|     US|   Manhattan|    o3|      24|
|2017-01-01|     CN|     Beijing|  pm25|       386|2017-01-01|     CN|     Beijing|    o3|     235|
|2017-01-01|     US|     Houston|  pm25|        95|2017-01-01|     US|     Houston|    o3|     119|
|2017-01-02|     CN|     Beijing|  pm25|       456|2017-01-02|     CN|     Beijing|    o3|     385|
|2017-01-02|     US|     Houston|  pm25|        93|2017-01-02|     US|     Houston|    o3|     113|
|2017-01-02|     CN|    Shanghai|  pm25|       216|2017-01-02|     CN|    Shanghai|    o3|     207|
|2017-01-02|     US|Jacksonville|  pm25|       111|2017-01-02|     US|Jacksonville|    o3|      48|
|2017-01-02|     US|   Manhattan|  pm25|        96|2017-01-02|     US|   Manhattan|    o3|      23|
|2017-01-02|     US| Los Angeles|  pm25|        70|2017-01-02|     US| Los Angeles|    o3|      24|
|2017-01-02|     CN|       Wuhan|  pm25|       272|2017-01-02|     CN|       Wuhan|    o3|     271|
|2017-01-03|     CN|    Shanghai|  pm25|       214|2017-01-03|     CN|    Shanghai|    o3|     201|
|2017-01-03|     CN|       Wuhan|  pm25|       405|2017-01-03|     CN|       Wuhan|    o3|     387|
|2017-01-03|     US|     Houston|  pm25|        84|2017-01-03|     US|     Houston|    o3|      89|
|2017-01-03|     CN|     Beijing|  pm25|       445|2017-01-03|     CN|     Beijing|    o3|     329|
|2017-01-03|     US|   Manhattan|  pm25|        96|2017-01-03|     US|   Manhattan|    o3|      23|
|2017-01-03|     US|Jacksonville|  pm25|       104|2017-01-03|     US|Jacksonville|    o3|      45|
|2017-01-03|     US| Los Angeles|  pm25|        72|2017-01-03|     US| Los Angeles|    o3|      16|
+----------+-------+------------+------+----------+----------+-------+------------+------+--------+
only showing top 20 rows

In [ ]:
# Consulta donde solo se devuelven algunos campos
spark.sql(
    "select Table_pm.Date, Table_pm.Country, Table_pm.City, Table_pm.count_pm25, Table_o.count_o3 \
    from Table_pm \
    INNER JOIN Table_o on Table_pm.Date = Table_o.Date \
    and Table_pm.City == Table_o.City \
    and Table_pm.Country == Table_o.Country"
).show()

+----------+-------+------------+----------+--------+
|      Date|Country|        City|count_pm25|count_o3|
+----------+-------+------------+----------+--------+
|2017-01-01|     CN|    Shanghai|       215|     188|
|2017-01-01|     US|Jacksonville|       115|      46|
|2017-01-01|     US| Los Angeles|        69|      24|
|2017-01-01|     US|   Manhattan|        96|      24|
|2017-01-01|     CN|     Beijing|       386|     235|
|2017-01-01|     US|     Houston|        95|     119|
|2017-01-02|     CN|     Beijing|       456|     385|
|2017-01-02|     US|     Houston|        93|     113|
|2017-01-02|     CN|    Shanghai|       216|     207|
|2017-01-02|     US|Jacksonville|       111|      48|
|2017-01-02|     US|   Manhattan|        96|      23|
|2017-01-02|     US| Los Angeles|        70|      24|
|2017-01-02|     CN|       Wuhan|       272|     271|
|2017-01-03|     CN|    Shanghai|       214|     201|
|2017-01-03|     CN|       Wuhan|       405|     387|
|2017-01-03|     US|     Houston|        84|      89|
|2017-01-03|     CN|     Beijing|       445|     329|
|2017-01-03|     US|   Manhattan|        96|      23|
|2017-01-03|     US|Jacksonville|       104|      45|
|2017-01-03|     US| Los Angeles|        72|      16|
+----------+-------+------------+----------+--------+
only showing top 20 rows

In [ ]:
# Se guardara esta consulta en un nuevo dataset
# Igual no se añadira "Show"
new_data_spark_date_o_pm = spark.sql(
    "select Table_pm.Date, Table_pm.Country, Table_pm.City, Table_pm.count_pm25, Table_o.count_o3 \
    from Table_pm \
    INNER JOIN Table_o on Table_pm.Date == Table_o.Date \
    and Table_pm.City == Table_o.City and Table_pm.Country == Table_o.Country")

In [ ]:
new_data_spark_date_o_pm.show()

+----------+-------+------------+----------+--------+
|      Date|Country|        City|count_pm25|count_o3|
+----------+-------+------------+----------+--------+
|2017-01-01|     CN|    Shanghai|       215|     188|
|2017-01-01|     US|Jacksonville|       115|      46|
|2017-01-01|     US| Los Angeles|        69|      24|
|2017-01-01|     US|   Manhattan|        96|      24|
|2017-01-01|     CN|     Beijing|       386|     235|
|2017-01-01|     US|     Houston|        95|     119|
|2017-01-02|     CN|     Beijing|       456|     385|
|2017-01-02|     US|     Houston|        93|     113|
|2017-01-02|     CN|    Shanghai|       216|     207|
|2017-01-02|     US|Jacksonville|       111|      48|
|2017-01-02|     US|   Manhattan|        96|      23|
|2017-01-02|     US| Los Angeles|        70|      24|
|2017-01-02|     CN|       Wuhan|       272|     271|
|2017-01-03|     CN|    Shanghai|       214|     201|
|2017-01-03|     CN|       Wuhan|       405|     387|
|2017-01-03|     US|     Houston|        84|      89|
|2017-01-03|     CN|     Beijing|       445|     329|
|2017-01-03|     US|   Manhattan|        96|      23|
|2017-01-03|     US|Jacksonville|       104|      45|
|2017-01-03|     US| Los Angeles|        72|      16|
+----------+-------+------------+----------+--------+
only showing top 20 rows

In [ ]:
# Contador del numero de regisros totales del nuevo dataset
new_data_spark_date_o_pm.count()

5100

Consultas Practica

1. Devolver los niveles de contaminacion pm25 y count_o3 de la ciudad de los Angeles y Manhattan

In [ ]:
data_cont_angeles_manhattan = spark.sql(
    "select Table_pm.Date, Table_pm.Country, Table_pm.City, Table_pm.count_pm25, Table_o.count_o3 \
    from Table_pm \
    INNER JOIN Table_o on Table_pm.Date == Table_o.Date \
    and Table_pm.City == Table_o.City and Table_pm.Country == Table_o.Country \
    where Table_pm.City == 'Los Angeles' or Table_pm.City == 'Manhattan'"
)

In [ ]:
data_cont_angeles_manhattan.show()

+----------+-------+-----------+----------+--------+
|      Date|Country|       City|count_pm25|count_o3|
+----------+-------+-----------+----------+--------+
|2017-01-01|     US|Los Angeles|        69|      24|
|2017-01-01|     US|  Manhattan|        96|      24|
|2017-01-02|     US|  Manhattan|        96|      23|
|2017-01-02|     US|Los Angeles|        70|      24|
|2017-01-03|     US|  Manhattan|        96|      23|
|2017-01-03|     US|Los Angeles|        72|      16|
|2017-01-04|     US|Los Angeles|        69|      14|
|2017-01-04|     US|  Manhattan|        91|      24|
|2017-01-05|     US|  Manhattan|        87|      24|
|2017-01-05|     US|Los Angeles|        55|      24|
|2017-01-06|     US|Los Angeles|        56|      19|
|2017-01-06|     US|  Manhattan|        94|      24|
|2017-01-07|     US|Los Angeles|        71|      23|
|2017-01-07|     US|  Manhattan|        85|      24|
|2017-01-08|     US|Los Angeles|        71|      22|
|2017-01-08|     US|  Manhattan|        88|      24|
|2017-01-09|     US|  Manhattan|        74|      24|
|2017-01-09|     US|Los Angeles|        69|      24|
|2017-01-10|     US|Los Angeles|        70|      19|
|2017-01-10|     US|  Manhattan|        72|      24|
+----------+-------+-----------+----------+--------+
only showing top 20 rows

2. Devolver la suma total de contaminacion reportadas tanto para pm25 y count_o3 para todas las ciudades

In [ ]:
data_sumtot_cont = spark.sql(
    "select sum(Table_pm.count_pm25) as sum_pm25, sum(Table_o.count_o3) as sum_o3 \
    from Table_pm \
    INNER JOIN Table_o on Table_pm.Date == Table_o.Date \
    and Table_pm.City == Table_o.City and Table_pm.Country == Table_o.Country"
)

In [ ]:
data_sumtot_cont.show()

+--------+-------+
|sum_pm25| sum_o3|
+--------+-------+
| 1243917|1113697|
+--------+-------+

In [ ]:
# Suma total de ciudades por separado
data_sumtot_ciudadcont = spark.sql(
    "select Table_pm.City, sum(Table_pm.count_pm25) as sum_pm25, sum(Table_o.count_o3) as sum_o3 \
    from Table_pm \
    INNER JOIN Table_o on Table_pm.Date == Table_o.Date \
    and Table_pm.City == Table_o.City and Table_pm.Country == Table_o.Country \
    group by Table_pm.City"
)

In [ ]:
data_sumtot_ciudadcont.show()

+------------+--------+------+
|        City|sum_pm25|sum_o3|
+------------+--------+------+
|       Wuhan|  275352|268473|
|     Beijing|  324798|309784|
| Los Angeles|   50491| 16823|
|     Houston|   75783| 82761|
|Jacksonville|   98282| 68813|
|   Manhattan|   58197| 18176|
|    Shanghai|  361014|348867|
+------------+--------+------+

3. Devolver los contaminantes reportados el mes de enero del 2020

In [ ]:
data_cont_reportados = spark.sql(
    "select Table_pm.Date, Table_pm.Country, Table_pm.City, Table_pm.count_pm25, Table_o.count_o3 \
    from Table_pm \
    INNER JOIN Table_o on Table_pm.Date == Table_o.Date \
    and Table_pm.City == Table_o.City and Table_pm.Country == Table_o.Country \
    where Table_pm.Date like '2020-01%'"
)

In [ ]:
data_cont_reportados.show()

+----------+-------+------------+----------+--------+
|      Date|Country|        City|count_pm25|count_o3|
+----------+-------+------------+----------+--------+
|2020-01-01|     US|   Manhattan|        65|      23|
|2020-01-01|     US|   Manhattan|        65|      23|
|2020-01-01|     CN|       Wuhan|       363|     314|
|2020-01-01|     CN|       Wuhan|       363|     314|
|2020-01-01|     CN|    Shanghai|       855|     854|
|2020-01-01|     CN|    Shanghai|       855|     854|
|2020-01-01|     CN|     Beijing|       441|     322|
|2020-01-01|     CN|     Beijing|       441|     322|
|2020-01-01|     US|Jacksonville|       141|      48|
|2020-01-01|     US|Jacksonville|       141|      48|
|2020-01-01|     US| Los Angeles|        48|      24|
|2020-01-01|     US| Los Angeles|        48|      24|
|2020-01-01|     US|     Houston|        72|     119|
|2020-01-01|     US|     Houston|        72|     119|
|2020-01-02|     CN|       Wuhan|       384|     328|
|2020-01-02|     CN|       Wuhan|       384|     328|
|2020-01-02|     CN|    Shanghai|       866|     806|
|2020-01-02|     CN|    Shanghai|       866|     806|
|2020-01-02|     US|Jacksonville|       165|     141|
|2020-01-02|     US|Jacksonville|       165|     141|
+----------+-------+------------+----------+--------+
only showing top 20 rows